<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-4:index' %}"><img src = "http://icons.iconarchive.com/icons/iconcreme/halloween/512/Home-icon.png" style="width: 30px; height: 30px;"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <li><a href="{% url 'lab-4:index' %}#form"><img src = "https://cdn0.iconfinder.com/data/icons/web-development-2/512/clipboard_report_form_checklist_business_plan_sheet_file_note_pad_paper_page_document_planning_check_list_survey_questionnaire_flat_design_icon-128.png" style="width: 30px; height: 30px;"></a></li>

          <li><a href="{% url 'lab-4:result_table' %}"><img src = "http://icons.veryicon.com/ico/System/Colorful%20Long%20Shadow/Message%20clouds.ico" style="width: 30px; height: 30px;"></a> </li>

          <li><a class="nav-link" href="/lab-3"><img src="http://care-for-health.co.uk/wp-content/themes/careforhealth_v2/images/icon-read-more.png" style="width: 30px; height: 30px;"></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
