{% extends "lab_10/layout/base.html" %}

{% block header %}
{% include "lab_10/partials/header.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 75px">
  <div class="row" style="margin-top: 3%;">
    <div class="col-sm-4">
      <img src="{{movie.poster}}" id="movie-poster"></img>
    </div>
    <div class="col-sm-8"  style="background-color:lightsteelblue; border-radius:3px;">
      <h1 id="movie-title">{{movie.title}} ({{movie.year}})</h1>
      <div class="sub-text">{{movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released}} ({{movie.country}})</div>
    </div>
    <div class="col-sm-8"  style="background-color:lightgrey; border-radius:3px;">
      <div class="col-lg-12" id="movie-details" style="height: 360px;">
        <h4><span id="details-title">Director</span>: {{movie.director}}</h4>
        <h4><span id="details-title">Writer</span>: {{movie.writer}}</h4>
        <h4><span id="details-title">Production</span>: {{movie.production}}</h4>
        <h4><span id="details-title">Website</span>: <a href="{{movie.website}}">{{movie.website}}</a></h4>
        <h2 >Cast :</h2>
        <h4>{{movie.actors}}</h4>
        <br>
        <h2>Rate: {{ movie.ratings.0.Value.0}}{{ movie.ratings.0.Value.1}}{{ movie.ratings.0.Value.2}}{{ movie.ratings.0.Value.3}}{{ movie.ratings.0.Value.4}}{{ movie.ratings.0.Value.5}}</h2>
      </div>
    </div>
  </div> 
  <div clas="row" style="margin-top: 3%;">
    <div class="col-sm-12" style="background-color:lightgrey; border-radius:3px;">
      <h2>Synopsis</h2>
      <h3 id="plot">{{movie.plot}}</h3>
      <div class="box" style="padding-bottom: 3%;">
        {% if added %}
          <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif %}
        <a href="/lab-10/movie/list/" class="btn btn-primary" style="margin-left: 2%;"> Back to List </a>
      </div>
    </div>
  </div>
{% endblock %}
