{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="container-fluid" style="margin-top: 100px">
    {% for movie in watch_later_movies %}
    <div class="row">
      <div class="col-sm-2" style="margin:20px; padding:20px; background-color:lightsteelblue; border-radius:3px;">
        <img src="{{movie.poster}}" id="movie-poster-later" style="height: 150px; position: middle;"></img>
      </div>
      <div class="col 5" style="margin-top: 20px; margin-bottom:0px; margin-left:20px; margin-right:20px;padding:13px; background-color:lightgrey; border-radius:3px;" id="movie-title-section">
        <h1 id="movie-title-later">{{movie.title}}</h1>
      </div>
      <div class="col 5" style="margin-top:0px; margin-left:20px; margin-right:20px;padding:13px; background-color:lightgrey; border-radius:3px;" id="movie-title-section">
        <h1 id="movie-title-later">({{movie.year}})</h1>
      </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
