{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="lab8">
        <div class="intro">
            <button type="button" id="login-button" class="btn" onclick="facebookLogin()"><img class="logo" src="{% static 'assets/logo yay.png' %}" style="width:90px;margin-right:5px;"/>Login with Facebook</button>
        </div>
    </div>
{% endblock %}
