<!-- templates/lab_6/partials/header.html -->
<nav>
    <div class="container-fluid" style="background: black">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href="">Home</a>
        </div>
        <!-- <div id="navbar" class="navbar-collapse collapse"> -->
            <!-- <ul class="nav navbar-nav"> -->
                <!-- LINK MENUJU table, dan link menuju home#form -->
                <!-- <li><a href="{% url 'lab_6:index' %}">Home</a></li> -->
            <!-- </ul> -->
        <!-- </div>/.nav-collapse  -->
    </div>
</nav>
