 {% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style="font-family: Wendy One; background-color: lightblue;"><center>Portofolio</h1></center>
<center><img src="http://www.cantechletter.com/wp-content/uploads/2013/09/teletubbies.jpg" style="border-radius: 50%"></center>
<hr/>
<section name="bio">
    <h2 style="font-family: Wendy One; background-color: lightblue;"><center>Biography</center></h2>
    <p style="font-size: 20px;">
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2 style="font-family: Wendy One; background-color: lightblue"><center>List</h2></center>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2 style= "font-family: Wendy One; background-color: lightblue"><center>Send Message</h2></center>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
<br><br>
{% endblock %}

