{% extends "lab_4/layout/base.html" %}

{% block title %} Message Box {% endblock %}

{% block content %}
<!--  Populate semua isi pesan dari model -->
<table class="table">
    <thead style="font-family: Impact">
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Date Created</th>
    </thead>
    <tbody style="font-family: Tahoma">
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in message %}
        {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
        <tr class="warning"> {% else %} <tr class="success">
            {% endif %}
            <td> {{i.name}} </td>
            <td> {{i.email}} </td>
            <td> {{i.message}} </td>
            <td> {{i.created_date}} </td>
        </tr>             
        {% endfor %}
    </tbody>
</table>
<br><br>

{% endblock %}
