{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 800px;
        height: 90px;
        top: 50%;
        left: 36%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        background-color: white;
        
    }
</style>
<div class="center_screen">
    <p class="status" id="test" style="font-family: 'Lucida Grande'; font-size: 20px; text-align: center;"> {{ content }}.</p>
</div>
{% endblock %}