{% extends "lab_10/layout/base.html" %}

{% block content %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Home</span>
            <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-10:dashboard' %}">Dashboard</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <!-- <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
          <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later List</a></li> -->
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

</header>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> Halaman Login </h1>
                <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
            </div>
            <style>
                .login{
                  text-transform:uppercase;
                  margin-bottom: 50px;
                  margin-top: 0px;
                  margin-left: 65px;
                  width: 400px;
                  padding-top: 20px;
                  padding-bottom: 20px;
                }
            </style>
            <form action="{% url 'lab-9:auth_login' %}" method="POST" class = login>
                {% csrf_token %}

                <p>
                    <label for="username"> Your username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> Your password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}
